.btn {
    position: relative;
    display: inline-block;
    transition: .5s;
    z-index: $button-zindex;
    overflow: hidden;
    max-width: fit-content;
    user-select: none;

    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: #4d4d4d;
    font-family: "Sora", Sans-serif;

    &__primary {
        padding: 12px 30px;
        background: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, .2);

        font-weight: bold;
        color: $color-primary;

        &:hover {
            color: #f9f9f9;
            background: $color-third;
            box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, .1);
        }

        &--cta {
            margin: 0 auto;
        }
    }

    &__link {
        border: none;
        width: calc(100% + 20px);

        font-weight: 600;
        color: $color-primary;
        text-align: center;
        line-height: 1;

        display: flex;
        transition: all .2s ease;
    }

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;

        min-width: 200px;
        margin-top: 30px;

        &:hover i {
            transform: translateX(50%);
        }
    }

    i {
        padding-bottom: 3px;
        margin-left: 11px;
        transition: transform .2s ease;
    }
}

.contact-social a.btn-social,
.contact-social .btn-social {
    display: unset;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5em
}

.contact-email>a,
.contact-social>a {
    color: #fafafa
}

.works-showcase-card {
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 300px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;

    width: 50vw;
    position: absolute;

    &__item {
        flex: 0 0 100%;
        padding: 24px;
        border-radius: 8px;
        scroll-snap-align: start;
        max-width: 300px;

        img {
            width: 300px;
        }

    }
}

.slider-container {
    width: calc(50vw - 10%);
    height: 400px;
    position: absolute;
    // top: 50%;
    left: 0;
    // transform: translate(-50%, -50%);
    overflow: hidden;

    .inner-slider {
        width: auto;
        display: flex;
        gap: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;

        .card {
            padding-left:10px;
            padding-right: 10px;
        }

        img {
            height: auto;
            width: 400px;
            border-radius: 9px;
        }
    }
}

.portfolio-card {
    border: 5px dashed #e9c46a;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    transition: all .2s ease;

    &:hover {
        border-style: solid;
        transform: scale(1.1);
        color: #000
    }

    &__title, &__tech {
        margin-top: 10px;
    }

    &__title {
        display: flex;
        column-gap: 10px;
        justify-content: space-between;

        h2 {
            margin-bottom: 0;
            align-self: flex-end;
            font-size: 1.5em;

            
        }
        
        a {
            align-self: flex-end;
            min-width: fit-content
        }
    }

    &__image {
        max-height: 120px;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
        }
    }

    &__tech {
        display: flex;
        flex-flow: row wrap;
        gap: .3em;

        >span {
            font-size: .6em;
            color: #646464;
            padding: .5em;
            background: #c8c8c8;
            border-radius: 20px;
            transition: transform .2s ease;

            &:hover {
                transform: scale(1.5);
                color: #323232;
                font-size: .7em;
            }
        }
    }

    @media(max-width: 480px) {
        &__title h2 {
            font-size: 1.1em;
        }
    }
}