$color-primary: #008080;
$color-secondary: #00283D;
$color-third: #055a5a;
$color-accent: #b0e9e9;
$global-color-3: #00283d;
$global-color-4: #b4d8eb;
$global-color-5: #edf2f7;
$global-color-6: #cbd5e0;
$global-color-7: #718096;
$global-color-8: #2d3748;

$footer-bg-color: #eeeeee;

$text-color-headings: $global-color-8;

$text-color-h2: #A0AEC0;

$text-light : $global-color-5;

$container-lg : 1140px;
$container-s : 100%;


// ---- Z-indexes

$bgwrap-zindex: 1;
$container-zindex : 2;
$button-zindex: 3;
$section-about-zindex: 2;